<header class="header" id="header">
  <div class="header__container-general">
    <h1 class="header__teamname">equipo galgo</h1>
    <nav>
      <ul class="header__menu">
        <a href="./index.html#equipo" class="header__menu--link">
          <li class="header__menu--link">equipo</li>
        </a>
        <a href="./index.html#quienes" class="header__menu--link">
          <li class="header__menu--link">quiénes somos</li>
        </a>
        <li class="header__menu--link">
          <a href="./contact.html" target="_blank" class="header__link--contact"
            >contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
