 <section class=" main-padding-texto-top">
        <h2 class="main-h2-quienes-somos" >QUIENES SOMOS</h2>
        <article class="main__article--descripcion">
          <img
            src="./assets/images/lorena.jpg"
            alt="avatar chica"
            class="avatar"
          />
     <div class="persona-1"> 
          <h3 class="main-h3">Lorena</h3>
          <div class="main-texto-pers1">
            <p>
            Historiadora en busca de nuevos descubrimientos. Me apasiona la forma de vida de muchos de nuestros antepasados pero también la presente y futura que está creando la tecnología. Por ello, guiada por la organización y el desarrollo metódico que me han dado mis experiencias laborales, trabajo cada día buscando el código más exigente para dejar huella a los que un día hablarán de nosotras.</p>
            <p class="text__bold">Alguna curiosidad sobre ti: </p><p>En mi tiempo libre viajo representado el folkore de mi tierra.</p>
          </div>            
          <nav class="main-redes-sociales main-padding-texto-5-px">
            <a href="https://twitter.com/?lang=es" target="_blank"> <i class="fa-brands fa-twitter"></i></a> ·  
            <a href="https://es.linkedin.com/" target="_blank"> <i class="fa-brands fa-linkedin-in"></i></a> · 
            <a href="https://github.com/LorenaGomezPerez" target="_blank"> <i class="fa-brands fa-github-alt"></i></a> · 
            <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"> <i class="fa-solid fa-envelope"></i> </a>
           </nav>
     </div> 
    
        </article>
        <article class="main__article--descripcion">
          <img
            src="./assets/images/aran.jpg"
            alt="avatar chica"
            class="avatar"
          />

     <div class="persona-2"> 
          <h3 class="main-h3">Aran</h3>
       <div class="main-texto-pers2">
          <p>
            Vivo en Madrid. Siempre he trabajado en el ámbito de la creatividad. Estudié fotografía analógica con especialidad en técnicas del S. XIX. Posteriormente realicé un Master de fotoperiodismo en la University of the Arts of London. Estuve varios años colaborando con ONGs y publicando en distintos medios. Los últimos años he creado mi propia empresa de encuadernación artesanal sostenible.</p>
            <p class="text__bold">Alguna curiosidad sobre ti:</p> <p>Puedo decir los diálogos enteros de Regreso al futuro.</p>

          </div>
          <nav> <div class="main-redes-sociales main-padding-texto-5-px">
            <a href="https://twitter.com/?lang=es" target="_blank"> <i class="fa-brands fa-twitter"></i></a> · 
            <a href="https://es.linkedin.com/" target="_blank"> <i class="fa-brands fa-linkedin-in"></i></a> · 
            <a href="https://github.com/AranDiez" target="_blank"> <i class="fa-brands fa-github-alt"></i></a> · 
            <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"> <i class="fa-solid fa-envelope"></i></a>
          </div></nav>
        </article>
     </div>

        <article class="main__article--descripcion">
          <img
            src="./assets/images/paula.jpg"
            alt="avatar chica"
            class="avatar"
          />
     <div class="persona-3">
          <h3 class="main-h3">Paula</h3>
       <div class="main-texto-pers3">
          <p>
            Soy una zaragozana afincada en Valencia desde hace seis meses. A mis 31 años, me ha dado tiempo a estudiar Trabajo Social, Diseño de Interiores y, acutualmente, este Bootcamp. Poco o nada tienen que ver entre ellas aparentemente, pero me quedo con todo aquello que he ido aprendiendo y que me ha hecho crecer como persona, y poder ser quien soy hoy. Mi pasión siempre ha sido el diseño de interiores, aunque ahora reconozco está fifty-fifty con el diseño web. Algo que no descarto a corto-medio plazo...aunar estos dos mundos en algo genial!</p>
           <p> <p class="text__bold">Alguna curiosidad sobre ti:</p> <p> Despues de toda una vida queriendo perrete, 31 años después, ha llegado Tas. </p><p>MORALEJA: Si eres paciente, TODO llega.</p>
          </div>
          <nav> <div class="main-redes-sociales main-padding-texto-5-px">
            <a href="https://twitter.com/?lang=es" target="_blank"> <i class="fa-brands fa-twitter"></i></a> · 
            <a href="https://es.linkedin.com/" target="_blank"> <i class="fa-brands fa-linkedin-in"></i></a> · 
            <a href="https://github.com/pgomezariza" target="_blank"> <i class="fa-brands fa-github-alt"></i></a> · 
            <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"> <i class="fa-solid fa-envelope"></i></a>
          </div></nav>
        </article>
      </div> 
        <article class="main__article--descripcion">
          <img
            src="./assets/images/celia.jpg"
            alt="avatar chica"
            class="avatar"
          />
      <div class="persona-4">
          <h3 class="main-h3">Celia</h3>
       <div class="main-texto-pers4">
          <p>
            Soy mitad de Pontevedra mitad de Madrid, tengo 27 años y me paso la vida preguntado por qué. Estudié diseño y me especialicé en UX Design con un bootcamp intensivo. Como soy un poco yonki del aprendizaje (y masoca) decidí complementar mi parte técnica con este segundo bootcamp mientras estoy acabando la carrera de psicología. Mi objetivo a largo plazo es especializarme en Women Centered Design y mi sueño es hacerlo desde una playita de Bali y pasarme 3 años sin ponerme los zapatos.</p>
            <p><p class="text__bold">Alguna curiosidad sobre ti:</p> <p>Tengo 5 gatos que no sé cómo llevarme a Bali. </p>
          </p>
          </div>
          <nav> <div class="main-redes-sociales main-padding-texto-5-px main-padding-texto-bottom ">
            <a href="https://twitter.com/?lang=es" target="_blank"> <i class="fa-brands fa-twitter"></i></a> · 
            <a href="https://es.linkedin.com/" target="_blank"> <i class="fa-brands fa-linkedin-in"></i></a>· 
            <a href="https://github.com/CeRosales" target="_blank"> <i class="fa-brands fa-github-alt"></i></a>· 
            <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"> <i class="fa-solid fa-envelope"></i></a>
          </div></nav>
        </article>
      </div>
      </section>