<main class="main">
 
      <div>
        <div class="main-image-wrapper" >
          <img src="./assets/images/grupo.jpg" alt="mujeres al atardecer" class="main-foto-equipo">
        </div>
      <div class="main-box">
        <p class="main-frase-equipo"><strong>Nothing is impossible,<br>the word itself says "I´m possible". 
        </strong></p>
      </div>


      <article class="main-contenedor-equipo">
        <h2 class="h2-equipo" id="equipo" >EQUIPO</h2>
        <div class="main-texto">
        <p class="main-tesxt-padding-top">
          Nuestra primera decisión juntas como grupo fué nuestro nombre: Galgo. Los galgos son animales fieles, constantes, cariñosos y, ante todo, luchadores. Ese fué nuestro punto en común. Todas en el grupo hemos tomado la valiente decisión de cambiar nuestras vidas. De enfrentarnos a retos difíciles, día a día, durante los próximos tres meses.
        </p>
        </div>
        </article>
      </article>

     <div class="main-cuadrado-pico"></div>



 <div class="wrapper">    
<aside class="main-aside-background-fortalezas-debilidades"> 
      <div class="main-padding">
        <article class="wrap">
          <h2 class="h2-fortalezas main-padding-texto-rombo" >Fortalezas</h2>
          <div class="main-texto" >
            <p >
              Sin duda, nuestro punto fuerte es la empatía. En un marco de exigencia ante un proyecto grande, no habido un solo día como equipo que no nos hayamos apoyado y escuchado las unas a las otras. Todas sabemos la importancia de dividir tareas ante un proyecto grande pero, casi de manera natural, ninguna de nosotras ha estado sola en ningún momento. 
              
            </p>
            <p >
              Por otro lado, somos perseverantes. No nos rendimos en ningún momento. Sabemos que podemos sacar el proyecto hacia adelante y que cada encrucijada no es sino una oportunidad nueva de aprender. Proactivamente buscamos soluciones y averiguamos cómo salir de los laberintos. Todas sabemos que la constancia, con paciencia y calma, lleva al triunfo. 
            </p>
          </div>
        </article>
        <article class="wrap">
          <h2 class="h2-debilidades">Debilidades</h2>
              <div class="main-texto" >
                <p>
                  Prácticamente acabamos de adentrarnos en el increíble mundo de la programación. Aún estamos decidiendo quiénes seremos dentro de ese mundo, ya sea individualmente o juntas como equipo. 
                </p>
                <p class="main-padding-texto-bottom">
                  En algunos momentos tenemos la impaciencia de un estudiante que lo quiere saber todo al instante. Es posible que en algunos momentos confundamos la excelencia con perfeccionismo. Al fin y al cabo, queremos dar lo mejor de cada una de nosotras. Sin duda podríamos enumerar muchas debilidades más. Sin embargo sabemos que no importan nuestras debilidades como equipo, lo que importa es ser consciente de ellas. Importa acompañarnos las unas a las otras cuando las debilidades afloren. Y recordar, siempre, que la perfección nunca es más importante que la humildad.
                </p>
          </div>
        </article>
      </div>
      </aside>
      </div>
      
    </main>