.container-footer {
  list-style: none;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.team {
  margin: 40px 21px;
  color: #b8b8b9;
}

.list {
  list-style: none;
  margin: -24px 20px 20px 12px;
  color: #54585a;
  text-align: center;
}

.logo {
  width: 115.9px;
  height: 45px;
  padding: 30px 10px 45px 10px;
}

/* Responsive Footer */

@media all and (min-width: 768px) {
  .container-footer {
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .team {
    display: flex;
    width: 172px;
    height: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 5px 1px 7px;
  }

  .list {
    margin: 24px 45px 56px 10px;
  }

  .logo {
    width: 115.9px;
    height: 45px;
    margin-left: 72px;
    margin-top: 83px;
  }
}

@media all and (min-width: 1200px) {
  .container-top {
    margin-top: 30px;
    margin-bottom: -54px;
  }
  .team {
    padding: 40px 10px 45px 138px;
  }
  .logo {
    margin-left: 205px;
  }

  .list {
    padding: 24px 15px 63px 413px;
    margin: auto;
  }
}
