.main-foto-equipo {
  width: 100%;
  height: 20%;
}

.main-box {
  background-color: #ffffff;
  position: relative;
  bottom: 40px;
  height: 50px;
  margin: 0 30px 0 30px;
  padding: 8px;
  @media all and (min-width: 768px) {
    width: 441px;
    height: 50px;
    bottom: 84px;
    margin: 0 30px 0 30px;
    padding: 15px 30px;
    opacity: 0.8;
  }
  @media all and (min-width: 1200px) {
    width: 541px;
    height: 60px;
    bottom: 94px;
  }
}

.main-contenedor-equipo {
  margin-left: 15px;
  margin-right: 15px;

  @media all and (min-width: 768px) {
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media all and (min-width: 1200px) {
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
}

.main-frase-equipo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;

  @media all and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  @media all and (min-width: 1200px) {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
  }
}

.main-cuadrado-pico {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -15px;
}

.main-padding {
  padding: 20px;
  text-align: center;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
  }
  @media all and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 30px;
  }
}

.main-aside-background-fortalezas-debilidades {
  background-color: #b8b8b9;
}

.h2-equipo {
  color: #14d9c4;
  font-size: 24px;
  font-weight: 500;
  font-family: "Rubik";
  text-align: center;
  padding-top: 20px;
  @media all and (min-width: 768px) {
    color: #099d8d;
  }
  @media all and (min-width: 1200px) {
    color: #099d8d;
  }
}

.h2-fortalezas {
  color: #099d8d;
  font-size: 22px;
  font-family: "Rubik";
  font-weight: 500;
}

.h2-debilidades {
  color: #099d8d;
  font-size: 22px;
  font-family: "Rubik";
  font-weight: 500;
  padding-top: 20px;
}

.main-texto-equipo {
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-top: 15px;
  @media all and (min-width: 768px) {
    width: 678px;
    padding-bottom: 30px;
  }
  @media all and (min-width: 1200px) {
    width: 601px;
    padding-bottom: 30px;
  }
}

.main-texto {
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 20px;
  @media all and (min-width: 768px) {
    width: 601px;
  }
  @media all and (min-width: 1200px) {
    width: 678px;
  }
}

.main-padding-texto-rombo {
  padding-top: 20px;
  @media all and (min-width: 1200px) {
    padding-top: -150px;
    margin-top: 0px;
  }
}

.main-padding-texto-top {
  padding-top: 40px;
  text-align: center;
}

.main-padding-texto-bottom {
  padding-bottom: 40px;
}
