.main-h2-quienes-somos {
  color: #099d8d;
  font-size: 24px;
  font-weight: 500px;
}

.main-h3 {
  font-size: 20px;
}

.main-texto-2 {
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 20px;
  @media all and (min-width: 1000px) {
    width: 439px;
  }
}

.main__article--descripcion:nth-child(2n) {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.main__article--descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  @media all and (min: width 1200px) {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.persona-1 {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
}

.main-texto-pers1 {
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.persona-2 {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
  }
}
.main-texto-pers2 {
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.persona-3 {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
}

.main-texto-pers3 {
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.persona-4 {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10px;
  }
}

.main-texto-pers4 {
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.color-enlaces-rr.ss {
  color: #099d8d;
}

.text__bold {
  font-weight: bolder;
}

.avatar {
  width: 180px;
  height: 180px;
  padding-top: 30px;
  padding-bottom: 20px;
  @media all and (min-width: 768px) {
    width: 205px;
    height: 205px;
  }
  @media all and (min-width: 1200px) {
    width: 278px;
    height: 278px;
  }
}

.main-redes-sociales {
  color: #099d8d;
  padding-top: 5px;
}
