* {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  /* border: solid 1px; */
}
:root {
  font-family: "Open Sans";
}
.header {
  color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header-title {
  background-color: #099d8d;
  font-family: var(--font-family1);
  color: #fff;
  font-size: 16px;
  height: 60px;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-menu {
  background-color: #14d9c4;
  font-family: var(--font-family1);
  color: #fff;
  font-size: 15px;
  height: 45px;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link {
  list-style: none;
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
}

.header-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* A partir de aquí va el main */

.main-foto-equipo {
  width: 100%;
}

.main-box {
  background-color: #ffffff;
  position: relative;
  bottom: 40px;
  height: 50px;
  margin: 0 30px 0 30px;
  padding: 8px;
}

.main-frase-equipo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.main-cuadrado-pico {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -15px;
}

.main-padding {
  padding: 20px;
  text-align: center;
}

.main-aside-background-fortalezas-debilidades {
  background-color: rgb(243, 243, 243);
}

.h2-equipo {
  color: #14d9c4;
  font-size: 24px;
  font-weight: 500;
  font-family: "Rubik";
  text-align: center;
  padding-top: 20px;
}

.h2-fortalezas-debilidades {
  color: #099d8d;
  font-size: 22px;
  line-height: 45px;
  font-family: "Rubik";
  font-weight: 500;
}

.main-h3 {
  font-size: 20px;
}

.main-texto {
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 20px;
}

.main-padding-texto-10-px {
  padding: 10px;
}

.main-padding-texto-rombo {
  padding-top: 20px;
}

.main-padding-texto-top {
  padding-top: 40px;
  font-family: "Rubik";
}

.main-padding-texto-bottom {
  padding-bottom: 40px;
}

.main-padding-texto-5-px {
  padding-top: 5px;
}

.main-h2-quienes-somos {
  color: #099d8d;
  font-size: 24px;
  font-weight: 500px;
}

.avatar-lorena {
  width: 150px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.main-redes-sociales {
  color: #099d8d;
}

.avatar-aran {
  width: 150px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.avatar-paula {
  width: 150px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.avatar-celia {
  width: 150px;
  padding-top: 30px;
  padding-bottom: 20px;
}

/*A partir de aquí empieza el footer*/

.container-footer {
  list-style: none;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.team {
  margin: 30px 15px 45px 20px;
  color: #b8b8b9;
}

.list {
  list-style: none;
  margin: -24px 20px 20px 12px;
  color: #54585a;
  text-align: center;
}

.logo {
  width: 115.9px;
  height: 45px;
}

@media all and (min-width: 768px) {
  .container-footer {
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .team {
    display: flex;
    width: 172px;
    height: 20px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .list {
    padding: 24px 45px 56px;
    margin: 0;
  }

  .logo {
    width: 115.9px;
    height: 45px;
    margin: -36px 40px;
  }
}
