@import "core/variables";
@import "core/reset";
@import "components/code";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";

* {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  /* border: solid 1px; */
}
:root {
  font-family: "Open Sans";
}

/* A partir de aquí va la header */

@import "layout/header";

/* A partir de aquí va el main */

@import "layout/main";

/*A partir de aquí empieza el footer*/

@import "layout/footer";
