* {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  /* border: solid 1px; */
}
:root {
  font-family: "Open Sans";
}
.header {
  color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
}
.header-title {
  background-color: #099d8d;
  font-family: var(--font-family1);
  color: #fff;
  font-size: 16px;
  height: 60px;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-menu {
  background-color: #14d9c4;
  font-family: var(--font-family1);
  color: #fff;
  font-size: 15px;
  height: 45px;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link {
  list-style: none;
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
}

.header-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* A partir de aquí va el main */

.main-foto-equipo {
  width: 100%;
}

.main-box {
  width: 100%;
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: 5px;
}

.main-frase-equipo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-cuadrado-pico {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -15px;
}

.main-padding {
  padding: 20px;
  text-align: center;
}

.main-aside-background-fortalezas-debilidades {
  background-color: rgb(243, 243, 243);
}

.h2 {
  color: #14d9c4;
  font-weight: bold;
  font-size: 24px;
  font-family: "Rubik";
}

.main-padding-texto {
  padding: 20px;
  font-size: 16px;
}

.main-padding-texto-2 {
  padding: 10px;
}

.main-padding-texto-top {
  padding-top: 40px;
  font-family: "Rubik";
}

.main-padding-texto-bottom {
  padding-bottom: 40px;
}

.avatar-lorena {
  width: 150px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.main-redes-sociales {
  color: #099d8d;
}

.avatar-aran {
  width: 150px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.avatar-paula {
  width: 150px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.avatar-celia {
  width: 150px;
  padding-top: 30px;
  padding-bottom: 20px;
}

/*A partir de aquí empieza el footer*/

.container-footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding: 0 15px;
}

.list {
  list-style: none;
}

.links-left {
  padding: 15px;
}

.links-right {
  padding: 15px;
}
